<footer id="footer" class="footer layout-01">
        <div class="footer-content background-footer-03">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <section class="footer-item">
                            <a href="/" class="logo footer-logo"><img src="~/assets/images/logo-biolife-1.png" alt="biolife logo" width="135" height="34"></a>
                            <div class="footer-phone-info mode-03">
                                <i class="biolife-icon icon-head-phone"></i>
                                <p class="r-info">
                                    <span>Got Questions ?</span>
                                    <span class="number">(700)  9001-1909  (900) 689 -66</span>
                                </p>
                            </div>
                            <div class="contact-info-block footer-layout simple-info">
                                <h4 class="title">Contact info</h4>
                                <div class="info-item">
                                    <img src="~/assets/images/location-icon.png" width="22" height="26" alt="" class="icon">
                                    <p class="desc">7563 St. Vicent Place, Glasgow, Greater Newyork NH7689, UK </p>
                                </div>
                            </div>
                            <div class="biolife-social inline circle-hover">
                                <ul class="socials">
                                    <li><a href="#" title="twitter" class="socail-btn"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="facebook" class="socail-btn"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="pinterest" class="socail-btn"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="youtube" class="socail-btn"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="instagram" class="socail-btn"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-12 ">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4 col-xs-12 md-margin-top-6px xs-margin-top-40px">
                                <section class="footer-item">
                                    <h3 class="section-title">My Account</h3>
                                    <div class="wrap-custom-menu vertical-menu-2">
                                        <ul class="menu">
                                            <li><a href="#">Sign In</a></li>
                                            <li><a asp-controller="Cart" asp-action="Index">View Cart</a></li>
                                            <li><a href="#">My Wishlist</a></li>
                                            <li><a href="#">Track My Order</a></li>
                                            <li><a href="#">Help</a></li>
                                            <li><a href="#">Our Blog</a></li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-12 md-margin-top-6px xs-margin-top-40px">
                                <section class="footer-item">
                                    <h3 class="section-title">Why Buy From Us</h3>
                                    <div class="wrap-custom-menu vertical-menu-2">
                                        <ul class="menu">
                                            <li><a href="#">Shipping & Returns</a></li>
                                            <li><a href="#">Secure Shopping</a></li>
                                            <li><a href="#">International Shipping</a></li>
                                            <li><a href="#">Affiliates</a></li>
                                            <li><a href="#">Group Sales</a></li>
                                            <li><a href="#">Shipping & Returns</a></li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-12 md-margin-top-6px xs-margin-top-40px">
                                <section class="footer-item">
                                    <h3 class="section-title">Information</h3>
                                    <div class="wrap-custom-menu vertical-menu-2">
                                        <ul class="menu">
                                            <li><a href="#">Our Blog</a></li>
                                            <li><a href="#">About Our Shop</a></li>
                                            <li><a href="#">Secure Shopping</a></li>
                                            <li><a href="#">Delivery infomation</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Our Sitemap</a></li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="footer-midle-pst">
                    <div class=" newsletter-block layout-04">
                        <div class="wrap-title">
                            <span class="biolife-icon icon-newsletter"></span>
                            <div class="texts">
                                <h3 class="newslt-title">Sign up for our newsletter</h3>
                                <p class="sub-title">Sign up our Newsletter for Exclusive Discount codes</p>
                            </div>
                        </div>
                        <div class="form-content">
                            <form action="#" name="new-letter-foter" method="post">
                                <input type="email" class="input-text email" value="" placeholder="Your email here...">
                                <button type="submit" class="bnt-submit" name="ok">Sign up</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="copy-rights-contain">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="copy-right-text"><p><a href="templateshub.net">Templates Hub</a></p></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="payment-methods">
                                <ul>
                                    <li><a href="#" class="payment-link"><img src="~/assets/images/card1.jpg" width="51" height="36" alt=""></a></li>
                                    <li><a href="#" class="payment-link"><img src="~/assets/images/card2.jpg" width="51" height="36" alt=""></a></li>
                                    <li><a href="#" class="payment-link"><img src="~/assets/images/card3.jpg" width="51" height="36" alt=""></a></li>
                                    <li><a href="#" class="payment-link"><img src="~/assets/images/card4.jpg" width="51" height="36" alt=""></a></li>
                                    <li><a href="#" class="payment-link"><img src="~/assets/images/card5.jpg" width="51" height="36" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
